.react-datepicker {
    background-color: #C6FCEC;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    color: #ccc;
    display: inline-block;
    font-family: Helvetica Neue,helvetica,arial,sans-serif;
    font-size: .8rem;
    position: relative
}