@media screen and (min-width: 700px) {
    .expense-history-container {
        display: grid;
        grid-template-columns: repeat(4, 20%);
        justify-content: center;
        max-width: 60rem;
        margin: 1rem auto;
        list-style: none;
        gap: 1rem;
    }
    .expense-history-empty-container{
        display: flex;
        flex-direction: column;
        max-width: 60rem;
        margin: 1rem auto;
        align-items: center;
        color: white;
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .expense-history-container {
        display: flex;
        flex-direction: column;
        width: 20% auto 20% auto;
        list-style: none;
        gap: 0.5rem;
        justify-content: center;
        align-items: center; /** Center items along the column line*/
    }
    .expense-history-empty-container{
        display: flex;
        flex-direction: column;
        max-width: 60rem;
        margin: 1rem auto;
        align-items: center;
        color: white;
        justify-content: center;
    }
}